<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.indonesiaku">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PristiwaActivity"></activity>
        <activity android:name=".DetailPristiwaActivity" />
        <activity android:name=".IconActivity" />
        <activity android:name=".DetailIconActivity" />
        <activity android:name=".MakananActivity" />
        <activity android:name=".DetailMakananActivity" />
        <activity android:name=".RumahActivity" />
        <activity android:name=".DetailRumahActivity" />
        <activity android:name=".BudayaActivity" />
        <activity android:name=".DetailBudayaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>